{:paths   ["src"]
 :deps    {org.clojure/core.async                          {:mvn/version "1.0.567"}
           com.cognitect/anomalies                         {:mvn/version "0.1.12"}
           org.clojure/data.json                           {:mvn/version "1.0.0"}
           com.google.auth/google-auth-library-oauth2-http {:mvn/version "0.20.0"}
           java-http-clj                                   {:mvn/version "0.4.1"}}
 :aliases {:test        {:extra-paths ["test"]
                         :extra-deps  {provisdom/test         {:git/url "https://github.com/Provisdom/test.git"
                                                               :sha     "f6a10aa33d7cafacd78ea948b99f24b9a6b5ed30"}
                                       org.clojure/test.check {:mvn/version "1.0.0"}}}
           :test-runner {:extra-deps {lambdaisland/kaocha {:mvn/version "0.0-601"}}
                         :main-opts  ["-m" "kaocha.runner"]}
           :dev         {:extra-paths ["resources" "env"]
                         :extra-deps  {com.climate/claypoole               {:mvn/version "1.1.4"}
                                       compute.gcp-api-descriptors/compute {#_#_:git/url "git@github.com:ComputeSoftware/gcp-api-descriptors.git"
                                                                            :local/root "gcp-api-descriptors/compute"
                                                                            :sha        "1700d07bcc51bc4a2a01c3f0169916737d2aede1"
                                                                            :deps/root  "compute"}}}
           :jar         {:extra-deps {seancorfield/depstar {:mvn/version "0.5.2"}}
                         :main-opts  ["-m" "hf.depstar.jar" "lib.jar"]}}}
